html, body {height: 100%;}
.content-wrap {
    width: 928px;
    margin: 0 auto;
}
h1 {
    text-align: center;
    font-family: monospace;
    background-color: black;
    color: #fff;
    padding: 10px;
    font-size: 1px;
    border-radius: 10px;
}
.scorebar div {
    display: inline-flex;
    width: 48%;
    flex: 0 0 48%;
    color: #fff;
    font-family: cursive;
}
.scorebar div.left-sec {
    padding-right: 15px;
    background-color: #088e8e;
}
.scorebar div.right-sec {
    padding-left: 15px;
    background-color: #4c4c4c;
}
.scorebar div.left-sec p {
    text-align: right;
    width: 100%;
}
.game-board {
    padding: 40px 0px;
}
.game-board .col-4 {
    display: inline-flex;
    width: 33%;
    flex: 0 0 33%;
}
.rock {
    display: block;
    width: 300px;
    cursor: pointer;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-image: url('https://i.ibb.co/2SVBPYp/rock.png');
}
.rock:hover {
    background-image: url('https://i.ibb.co/tsM0x1C/rock-hover.png');
}
.paper {
    display: block;
    width: 300px;
    cursor: pointer;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-image: url('https://i.ibb.co/Thn1Vrj/paper.png');
}
.paper:hover {
    background-image: url('https://i.ibb.co/XyQvstp/paper-hover.png');
}
.input{background-color: #e7e7e7; color: rgb(78, 53, 53);} /* Gray */
.scissors {
    display: block;
    width: 300px;
    cursor: pointer;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
    background-image: url('https://i.ibb.co/v1sWMwW/scissors.png');
}
.scissors:hover {
    background-image: url('https://i.ibb.co/nw3z7kK/scissors-hover.png');
}
.hidden {
    display: none;
}
.show {
    display: block;
}
h2, h3 {
    text-align: center;
    font-family: monospace;
    font-size: 30px;
}
.decide-winner {
    padding: 40px 0;
}

